body {
  margin: 0;
  padding: 0;
  color: black;
  min-height: 100%;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/background.jpg');
  background-size: cover;
  filter: blur(7px);
  transform: scale(1.1);
  z-index: -1;
}
